*{
    background-color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
:root {
    --container-color: black;
    --second-color: white;
    --text-color: white;
    --bg-color: black;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
.main-img {
    width: 80%;
    height: 85%;
    margin-left: 160px;
    border-radius: 80px;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
}
.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: black;
}
.login:hover {
    background: rgb(43, 43, 43);
    transition: 0.3s;
}
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    color: gray;
}
.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter {
    padding: 4px 10px;
    border-radius: 4px;
}
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    
}
.post-box {
    background: rgb(43, 43, 43);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 5px;
    border-radius: 0.5rem;
    color: white;
}
.post-box:hover {
    transform: translateY(-5px)
}
.post-img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    background: rgb(43, 43, 43);
}
.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: 500;
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
    background: rgb(43, 43, 43);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: rgb(43, 43, 43);
    padding-top: 70px;
}

.post-data {
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
    background: rgb(43, 43, 43);
}
.post-decription {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background: rgb(43, 43, 43);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(43, 43, 43);
}
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid ;
}
.profile-name {
    background: rgb(43, 43, 43);
}
.footer {
    flex-direction: column;
    row-gap: 1rem;
    padding: 20px 0;
    text-align: center;
}
.Footer p {
    color: aliceblue;
}
.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.post-content {
    margin-top: 5rem !important;
    color: aliceblue;
}
.sub-heading {
    font-size: 1.2rem;
}
.post-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

@media (max-width:760px) {
    .main-img {
        width: 100%;
        height: unset;
        margin-left: unset;
    }
}